In [32]:
import csv
from datetime import datetime
import numpy as np

In [2]:
file = open('./Resources/budget_data.csv')
type(file)

_io.TextIOWrapper

In [3]:
#csvreader = csv.reader(file)
filepath = open('./Resources/budget_data.csv', "r")
data = list(csv.reader(file, delimiter=','))
print(data)

[['Date', 'Profit/Losses'], ['Jan-10', '1088983'], ['Feb-10', '-354534'], ['Mar-10', '276622'], ['Apr-10', '-728133'], ['May-10', '852993'], ['Jun-10', '563721'], ['Jul-10', '-535208'], ['Aug-10', '632349'], ['Sep-10', '-173744'], ['Oct-10', '950741'], ['Nov-10', '-785750'], ['Dec-10', '-1194133'], ['Jan-11', '-589576'], ['Feb-11', '-883921'], ['Mar-11', '443564'], ['Apr-11', '837887'], ['May-11', '1081472'], ['Jun-11', '464033'], ['Jul-11', '-1066544'], ['Aug-11', '323846'], ['Sep-11', '-806551'], ['Oct-11', '487053'], ['Nov-11', '1128811'], ['Dec-11', '791398'], ['Jan-12', '739367'], ['Feb-12', '-197825'], ['Mar-12', '666016'], ['Apr-12', '589771'], ['May-12', '489290'], ['Jun-12', '-471439'], ['Jul-12', '120417'], ['Aug-12', '175347'], ['Sep-12', '855449'], ['Oct-12', '605195'], ['Nov-12', '-235220'], ['Dec-12', '347138'], ['Jan-13', '298510'], ['Feb-13', '163254'], ['Mar-13', '1141840'], ['Apr-13', '542630'], ['May-13', '99841'], ['Jun-13', '752765'], ['Jul-13', '-252949'], ['Aug-13', '914424'], ['Sep-13', '679524'], ['Oct-13', '514377'], ['Nov-13', '462102'], ['Dec-13', '159782'], ['Jan-14', '878810'], ['Feb-14', '-946748'], ['Mar-14', '340335'], ['Apr-14', '292032'], ['May-14', '502266'], ['Jun-14', '265852'], ['Jul-14', '851017'], ['Aug-14', '-549615'], ['Sep-14', '290162'], ['Oct-14', '755391'], ['Nov-14', '1073202'], ['Dec-14', '313000'], ['Jan-15', '241132'], ['Feb-15', '1036589'], ['Mar-15', '853904'], ['Apr-15', '-388932'], ['May-15', '982952'], ['Jun-15', '537759'], ['Jul-15', '547784'], ['Aug-15', '-496214'], ['Sep-15', '854181'], ['Oct-15', '934719'], ['Nov-15', '-288531'], ['Dec-15', '-184383'], ['Jan-16', '659541'], ['Feb-16', '-1149123'], ['Mar-16', '355882'], ['Apr-16', '662284'], ['May-16', '518681'], ['Jun-16', '-748256'], ['Jul-16', '-910775'], ['Aug-16', '951227'], ['Sep-16', '898241'], ['Oct-16', '-729004'], ['Nov-16', '-112209'], ['Dec-16', '516313'], ['Jan-17', '607208'], ['Feb-17', '382539']]

In [4]:
header =[]
header = (data[0])
header

['Date', 'Profit/Losses']

In [5]:
rows_data = data[1:]
rows_data
date_data = [] 
for i in range(len(rows_data)):
    date_data.append(rows_data[i][0])
date_data

['Jan-10',
 'Feb-10',
 'Mar-10',
 'Apr-10',
 'May-10',
 'Jun-10',
 'Jul-10',
 'Aug-10',
 'Sep-10',
 'Oct-10',
 'Nov-10',
 'Dec-10',
 'Jan-11',
 'Feb-11',
 'Mar-11',
 'Apr-11',
 'May-11',
 'Jun-11',
 'Jul-11',
 'Aug-11',
 'Sep-11',
 'Oct-11',
 'Nov-11',
 'Dec-11',
 'Jan-12',
 'Feb-12',
 'Mar-12',
 'Apr-12',
 'May-12',
 'Jun-12',
 'Jul-12',
 'Aug-12',
 'Sep-12',
 'Oct-12',
 'Nov-12',
 'Dec-12',
 'Jan-13',
 'Feb-13',
 'Mar-13',
 'Apr-13',
 'May-13',
 'Jun-13',
 'Jul-13',
 'Aug-13',
 'Sep-13',
 'Oct-13',
 'Nov-13',
 'Dec-13',
 'Jan-14',
 'Feb-14',
 'Mar-14',
 'Apr-14',
 'May-14',
 'Jun-14',
 'Jul-14',
 'Aug-14',
 'Sep-14',
 'Oct-14',
 'Nov-14',
 'Dec-14',
 'Jan-15',
 'Feb-15',
 'Mar-15',
 'Apr-15',
 'May-15',
 'Jun-15',
 'Jul-15',
 'Aug-15',
 'Sep-15',
 'Oct-15',
 'Nov-15',
 'Dec-15',
 'Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17']

In [6]:
pl_data = [] 
for i in range(len(rows_data)):
    pl_data.append(int(rows_data[i][1]))
type(pl_data[0])
pl_data

[1088983,
 -354534,
 276622,
 -728133,
 852993,
 563721,
 -535208,
 632349,
 -173744,
 950741,
 -785750,
 -1194133,
 -589576,
 -883921,
 443564,
 837887,
 1081472,
 464033,
 -1066544,
 323846,
 -806551,
 487053,
 1128811,
 791398,
 739367,
 -197825,
 666016,
 589771,
 489290,
 -471439,
 120417,
 175347,
 855449,
 605195,
 -235220,
 347138,
 298510,
 163254,
 1141840,
 542630,
 99841,
 752765,
 -252949,
 914424,
 679524,
 514377,
 462102,
 159782,
 878810,
 -946748,
 340335,
 292032,
 502266,
 265852,
 851017,
 -549615,
 290162,
 755391,
 1073202,
 313000,
 241132,
 1036589,
 853904,
 -388932,
 982952,
 537759,
 547784,
 -496214,
 854181,
 934719,
 -288531,
 -184383,
 659541,
 -1149123,
 355882,
 662284,
 518681,
 -748256,
 -910775,
 951227,
 898241,
 -729004,
 -112209,
 516313,
 607208,
 382539]

In [7]:
date_format = "%b-%y"
parsed_date = []; count_2010 = 0; count_2011 = 0; count_2012 = 0; count_2013 = 0; count_2014 = 0; count_2015=0; count_2016=0;
count_2017 =0;
for k in date_data:
    j = datetime.strptime(k, "%b-%y").date()
    parsed_date.append(j)
for l in range(len(parsed_date)):
    if parsed_date[l].year == 2010:
        count_2010 += 1
    elif parsed_date[l].year == 2011:
        count_2011 += 1
    elif parsed_date[l].year == 2012:
        count_2012 += 1
    elif parsed_date[l].year == 2013:
        count_2013 += 1
    elif parsed_date[l].year == 2014:
        count_2014 += 1
    elif parsed_date[l].year == 2015:
        count_2015 += 1
    elif parsed_date[l].year == 2016:
        count_2016 += 1
    else:
        count_2017 +=1
total_count_months = count_2010 + count_2011 + count_2012 + count_2013 + count_2014 + count_2015 + count_2016 + count_2017
print(f"count of number of months in 2010: {count_2010}\n count of number of months in 2011: {count_2011}\n count of number of months in 2012:  {count_2012}\n")
print(f"count of number of months in 2013: {count_2013}\n count of number of months in 2014:  {count_2014}\n")
print(f"count of number of months in 2015: {count_2015}\n count of number of months in 2016: {count_2016}\n")
print(f"count of number of months in 2017: {count_2017}\n")
print(f"total months in dataset = {total_count_months}")

count of number of months in 2010: 12
 count of number of months in 2011: 12
 count of number of months in 2012:  12

count of number of months in 2013: 12
 count of number of months in 2014:  12

count of number of months in 2015: 12
 count of number of months in 2016: 12

count of number of months in 2017: 2

total months in dataset = 86

In [8]:
#net total amount of profit/loss
total_pl = 0
for K in range(len(pl_data)):
    total_pl += pl_data[K] 
print(f"total profit and loss = {total_pl}")

total profit and loss = 22564198

In [89]:
# the changes in profit and loss over the entire period  and the average of those changes
monthly_deltas = [pl_data[i] - pl_data[i - 1] for i in range(1, len(pl_data))]
monthly_deltas
average_change = np.round(sum(monthly_deltas) / len(monthly_deltas),2)
average_change
max_change = max(monthly_deltas)
min_change = min(monthly_deltas)
max_change
min_change
max_month = monthly_deltas.index(max_change) + 1  # Adding 1 to convert index to month
min_month = monthly_deltas.index(min_change) + 1
date_data[max_month]
monthly_deltas
average_change

-8311.11

In [87]:
print("Financial Analysis")
print("----------------------")
print(f"total months: {total_count_months}")
print(f"total:${total_pl}")
print(f"Average change: ${average_change}")
print(f"greatest increase in profits: {date_data[max_month]} (${max_change})")
print(f"greatest decrease in profits: {date_data[min_month]} (${min_change})")

Financial Analysis
----------------------
total months: 86
total:$22564198
Average change: $-8311.11
greatest increase in profits: Aug-16 ($1862002)
greatest decrease in profits: Feb-14 ($-1825558)